
.numberCircle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
    padding-left:4px;
    background: #252a3a;
    font-weight: bold;
    text-align: center;
    letter-spacing: -.01em;
    color:#ffffff;
}