

        <div class="email-content">
            <div class="email-content-header ">
                <h2><b>{{data.name}}</b></h2>
                <div class="email-content-subtitle">
                    <div class="glyphicon glyphicon-tower">  {{data.companyName}} </div><br/>
                    <div class="glyphicon glyphicon-briefcase"> {{data.minExperience}}-{{data.maxExperience}} Yrs.</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="glyphicon glyphicon-map-marker"> {{data.city}}/{{data.state}}/{{data.country}}</div>
                </div>
                <br/>
                <div ng-if="data.applicationMode == 0">
                    <button type="button" class="btn btn-primary">Apply</button>
                </div>
                <div ng-if="data.applicationMode == 1">
                    <a class="btn btn-primary" target="_blank" href="{{data.modeSource}}">Apply on company website</a>
                </div>
            </div>

            <div class="email-content-body">
                {{data.body}}
            </div>
        </div>
   